.about-img {
    width: 450px;
    height: 465px;
    z-index: -1;
}
.control-next{
    position: relative;
}
span.fal.fa-arrow-right {
    font-size: 3vw;
    right: 18px;
}
.fa-arrow-right::after {
    position: absolute;
    content: "";
    width: 30rem;
    height: 30rem;
    border: 2px solid #e7dada;
    border-radius: 100%;
    width: 13rem;
    height: 13rem;
    top: 35%;
    right: -55%;
}
.control-next::after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    width: 156px;
    height: 323px;
    background: #EA4715;
    z-index: -1;
}
.counter {
    position: absolute;
    font-size: 8rem;
    z-index: 0;
    color: #e3dddd;
    bottom: 0;
    right: 5px;
    top: 7%;
    overflow: visible;
}
