.about-img{
    width: 488px;
    height: 465px;
    z-index: -1;
}
.control-next{
    position: relative;
}
/* .control-next::before {
    position: absolute;
    content: url('../assets/icon/ellipse.png');
    right: 0;
    top: 0;
    background: #fff;
    z-index: 1;
} */
.control-next::after {
    position: absolute;
    content: "Next";
    right: 0;
    top: 0;
    width: 156px;
    height: 323px;
    background: #EA4715;
    z-index: -1;
}
.counter {
    position: absolute;
    font-size: 2rem;
    z-index: 0;
    color: #ddd9d9;
    bottom: 0;
    right: 1px;
    top: 25%;
    border: 1px solid #ddd9d9;
    border-radius: 50%;
    width: 55px;
    height: 55px;
}
