.carousel-caption {
    position: absolute;
    right: auto;
    left: 9%;
    text-align: left;
    margin-bottom: 3rem;
}

.carousel-indicators {
    position: absolute;
    right: auto;
    left: 9%;
    justify-content: center;
    margin-right: inherit;
    margin-left: inherit;
    margin-bottom: 3rem;
}

.carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
    border-top: 0px solid transparent;
    border-bottom: 0px solid transparent;
}

.carousel-control-next,
.carousel-control-prev {
    position: absolute;
    top: -39%;
    bottom: 0;
    left: 88%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    padding: 0;
    color: #fff;
    text-align: center;
    border: 0;
    opacity: .5;
    transition: opacity .15s ease;
}

@media only screen and (min-width: 768px) {
    .banner-slider {
        position: relative;
        width: 100%;
        top: -115px;
        z-index: -1;
        max-height: 33rem;
    }
}

@media only screen and (max-width: 767px) {
    .carousel-control-next,
    .carousel-control-prev {
        top: 0;
        bottom: 0;
        left: 87%;
        width: 15%;
        opacity: .5;
    }
    .carousel-caption {
        margin-bottom: 3rem;
    }
}

@media only screen and (max-width: 395px) {
    .carousel-caption, .carousel-indicators {
        margin-bottom: 0rem;
    }

    .carousel-caption {
        margin-bottom: 0rem;
        bottom: 0.1rem;
        padding-bottom: 0rem;
    }
    .about-img {
        height: 100%;
    }
    .container .project {
        margin-top: -25px;
        margin-bottom: -25px;
    }
    .project-title {
        left: 20%;
    }
    .container .project .content {
        margin-bottom: 5rem;
    }
    .container .project:hover .content {
        height: 50vh;
    }
}
