.header {
    position: relative;
}

.top-nav {
    position: relative;
    height: 50px;
}

.header::after {
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #fff;
    top: 35px;
}

.top-nav ul li a {
    color: #fff;
}

.navbar-nav .nav-item .nav-link {
    color: #fff;
}

.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
    color: #EA4715;
}

/* mega menu */
.mega-item a {
    color: #000;
}

.mega-item:hover a {
    color: #EA4715;
}

.menu-img {
    position: relative;
    Width: 450px;
    Height: 331px;
    margin-top: -9px;
    margin-bottom: -10px;
}

.menu-content {
    position: absolute;
    bottom: 20%;
    color: #fff;
    z-index: 1;
    overflow: hidden;
}

@media only screen and (min-width: 768px) {
    .desk-none {
        display: none;
    }

    .navbar-expand-lg .navbar-nav .dropdown-menu {
        position: absolute;
        width: 100vw;
        left: -38.2rem;
        border: 1px solid #c9c9c9;
        border-radius: 0;
        top: 50px;
    }
}

@media only screen and (max-width: 767px) {
    .mobile-none {
        display: none;
    }

    header:after {
        top: 34px !important;
    }

    .header::after {
        background-color: rgb(224, 224, 224);
    }

    .top-nav ul li a {
        color: #000;
    }

    .navbar-toggler:focus {
        box-shadow: 0 !important;
    }

    .navbar-nav .nav-item .nav-link {
        color: #000;
    }

    .project img {
        width: 100%;
    }

}

@media only screen and (max-width: 395px) {
    header:after {
        top: 50px !important;
    }
}