.projects {
    background: #5C5C5C;
}

.container .project {
    margin: 0 0;
    padding: 0 0;
    transition: 0.3s ease-in-out;
}

.container .project .imgContainer {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
}

.container .project .imgContainer img {
    width: 280px;
    height: 350px;
    border-radius: 4px;
    transition: 0.3s ease-in-out;
}

.container .project .imgContainer:hover img {
    height: 180px;
    border-radius: 4px;
}

.container .project .imgContainer .plus {
    display: none;
    transition: 0.3s ease-in-out;
}

.container .project .imgContainer:hover .plus {
    display: block;
}

.container .project .content {
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    color: #f7f7f7;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s ease-in-out;
    background: #393939;
    padding: 0;
    left: 0;
    top: 40px;
    width: 280px;
    text-align: left;
    padding: 0 5px;
}


.container .project:hover .content {
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: 0.3s;
}

.project-title {
    position: absolute !important;
    bottom: 20%;
    left: -10%;
    transition: 0.3s ease-in-out;
}

.container .project .imgContainer:hover .project-title {
    display: none;
}

@media only screen and (min-width: 768px) {
    li .project::after {
        position: absolute;
        content: "";
        height: 100%;
        width: 1px;
        background: #747474;
        right: 11%;
    }

    li:last-child .project::after {
        position: absolute;
        content: "";
        width: 0;  
    }
}

@media only screen and (max-width: 767px) {
    .container .project .content {
        width: 100%;
        margin-bottom: 3rem;
    }

    .container .project .imgContainer img {
        width: 100%;
    }

    .project-title {
        bottom: 35%;
        left: 30%;
    }
}

@media only screen and (max-width: 330px) {
    .container .project .imgContainer {
        left: -2px;
    }

    .project-title {
        left: 24%;
    }

}